.root {
	-panel-background: white;
	-text-fill: black;
	-fx-base: -panel-background;
	-fx-background: -panel-background;
}
Button, RecordButton {
	-fx-background-color: transparent;
}
.dimButton {
	-fx-font-weight: bold;
	-fx-text-fill: gray;
}
TextField {
	-fx-background-color: transparent;
	-fx-text-fill: -text-fill;
}
.blackTextField {
	-fx-text-fill: black;
}
.blackLabel {
	-fx-text-fill: black;
}
.linkLabel:hover {
	-fx-text-fill: dodgerblue
}