.root {
	-panel-background: white;
	-text-fill: black;
	-fx-base: -panel-background;
	-fx-background: -panel-background;
}
Button, RecordButton {
	-fx-background-color: transparent;
}
.dim-button {
	-fx-font-weight: bold;
	-fx-text-fill: gray;
}
TextField {
	-fx-background-color: transparent;
	-fx-text-fill: -text-fill;
}
.black-text-field {
	-fx-text-fill: black;
}
.black-label {
	-fx-text-fill: black;
}
.link-label:hover {
	-fx-text-fill: dodgerblue
}
ProgressBar .bar {
	-fx-background-insets: 1 1 2 1;
	-fx-padding: 0.30em;
}
ProgressBar .track {
	-fx-text-box-border: gray;
	-fx-control-inner-background: white;
}
Text {
	-fx-fill: -text-fill;
}
.reference-panel {
	-fx-effect: dropshadow(gaussian, -text-fill, 0.5em, 0, 0, 0);
}