.root {
	-dms-background: white;
	-dms-foreground: black;
	-fx-base: -dms-background;
	-fx-background: -dms-background;
}
.button {
	-fx-background-color: transparent;
	-fx-focus-traversable: false;
}
.text-field {
	-fx-background-color: transparent;
	-fx-text-fill: -dms-foreground;
	-fx-prompt-text-fill: gray;
}
.text-field:focused {
	-fx-prompt-text-fill: transparent;
}
.top-pane {
	-fx-alignment: center-left;
	-fx-background-color: lightskyblue;
	-fx-padding: 0.3em;
	-fx-spacing: 0.6em;
}
.black-label {
	-fx-text-fill: black;
}
.dim-label {
	-fx-font-weight: bold;
	-fx-text-fill: gray;
}
.note-label {
	-fx-background-color: lightgray;
	-fx-background-radius: 0.3em;
	-fx-border-color: darkgray;
	-fx-border-radius: 0.3em;
	-fx-font-weight: bold;
	-fx-padding: 0 0.3em 0 0.3em;
	-fx-text-alignment: center;
	-fx-text-fill: gray;
	-fx-wrap-text: true;
}
.link-label:hover {
	-fx-text-fill: dodgerblue;
}
.progress-bar .bar {
	-fx-background-insets: 1 1 2 1;
	-fx-padding: 0.3em;
}
.progress-bar .track {
	-fx-text-box-border: gray;
	-fx-control-inner-background: white;
}
.scroll-bar .decrement-button {
	-fx-background-color: transparent;
}
.scroll-bar .increment-button {
	-fx-background-color: transparent;
}
.scroll-bar .thumb {
	-fx-background-radius: 0.5em;
}
.scroll-bar {
	-fx-background-color: transparent;
}
.dummy-player .bar  {
	-fx-padding: 0.2em;
}
.reference-pane {
	-fx-effect: dropshadow(gaussian, -dms-foreground, 0.5em, 0, 0, 0);
	-fx-background-color: whitesmoke;
	-fx-background-radius: 0.4em;
}
.reference-balloon {
	-fx-background-color: cornsilk;
	-fx-background-radius: 0.4em;
	-fx-border-color: gray;
	-fx-border-radius: 0.4em;
}
.attachment-area {
	-fx-border-color: gray;
	-fx-border-radius: 0.4em;
}
.message-area {
	-fx-background-color: transparent;
	-fx-text-fill: -dms-foreground;
}
.message-area .scroll-pane {
	-fx-background-color: transparent;
}
.message-area .scroll-pane .viewport {
	-fx-background-color: transparent;
}
.message-area .scroll-pane .content {
	-fx-background-color: transparent;
}
.im-box {
	-fx-background-color: rgba(255,255,255,0.1);
	-fx-background-radius: 1.1em;
	-fx-border-color: -dms-foreground;
	-fx-border-radius: 1.1em;
}
.ghost-shape {
	-fx-stroke: -dms-foreground;
}
.file-button:hover {
	-fx-background-color: deepskyblue;
}
.file-button .label {
	-fx-text-fill: -dms-foreground;
}
.file-button:hover .label {
	-fx-text-fill: black;
}
.search-field {
	-fx-border-color: black;
	-fx-border-width: 0 0 1 0;
	-fx-font-weight: bold;
	-fx-padding: 0.2em;
	-fx-text-fill: black;
}
.folders-menu {
	-fx-background-color: -fx-background;
	-fx-padding: 0;
}
.folders-menu .menu-item {
	-fx-background-color: transparent;
	-fx-font-weight: bold;
}
.folders-menu .menu-item .label {
	-fx-text-fill: -dms-foreground;
}
.folders-menu .menu-item:hover .label {
	-fx-text-fill: dodgerblue;
}
.folders-menu .radio-menu-item .radio {
	-fx-background-color: -dms-foreground;
}
.folders-menu .radio-menu-item:hover .radio {
	-fx-background-color: dodgerblue;
}
.em08 {
	-fx-font-size: 0.8em;
}
.em12 {
	-fx-font-size: 1.2em;
}
.em13 {
	-fx-font-size: 1.3em;
}
.em15 {
	-fx-font-size: 1.5em;
}
.em16 {
	-fx-font-size: 1.6em;
}
.em20 {
	-fx-font-size: 2.0em;
}
.bold {
	-fx-font-weight: bold;
}
.extra-bold {
	-fx-font-weight: 800;
}
.italic {
	-fx-font-style: italic;
}
.green-bg {
	-fx-background-color: green;
}
.red-bg {
	-fx-background-color: red;
}
.transparent-bg {
	-fx-background-color: transparent;
}
.in-bg {
	-fx-background-color: paleturquoise;
	-fx-background-radius: 0.6em;
}
.out-bg {
	-fx-background-color: palegreen;
	-fx-background-radius: 0.6em;
}
.message-balloon:hit {
	-fx-background-color: rgba(155,155,255,0.5);
	-fx-background-radius: 0.6em;
}
.message-border {
	-fx-border-color: darkgray;
	-fx-border-radius: 0.6em;
}
.transparent-box-border {
	-fx-box-border: transparent;
}
.transparent-tf {
	-fx-text-box-border: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
.min-width-6em {
	-fx-min-width: 6em;
}
.gray-underline {
	-fx-border-color: gray;
	-fx-border-width: 0 0 1 0;
}
.shadow {
	-fx-effect: dropshadow(gaussian, -dms-foreground, 1em, 0, 0, 0);
}
.gray40-text {
	-fx-text-fill: #404040;
}
.red-text {
	-fx-text-fill: red;
}
